body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
p{
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}


h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

span {
  text-decoration: underline;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 4%;
  border-color: #EAF6F6;
  margin: 100px auto;
}

.top_container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle_container {
  margin: 100px 0;

}


.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

span {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.J {

  width: 15%;
  float: left;
  position: relative;
  left: 130px;

}
.intro{
  width: 30%;
  margin:auto;
}



.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.computer {
  width: 20%;
  float: left;
  margin-right:  30px;
}
.personal-pic {
  width: 15%;
  margin-top: 10px;
}
.python{
  width: 20%;
  float: right;
  margin-left: 30px;

}

.btn {
  background-image: linear-gradient(#66bfbf 20%, #11999E);
  border-radius: 8px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  top: 25px;
}

.btn:hover {
  filter: brightness(1.2);

}

.btn:active {
	position:relative;
	top:1px;
}
.contact-me{
  width: 40%;
  margin:40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bs{
  position: relative;
  right: 50px;
}
.git{
  position: relative;
  right: 30px;
}
